/*General*/
.main{
	background: linear-gradient(150deg, #000000 25%, #0f0f0f 50%);
	border-style:none;
}
.text{
	font-family:"Courier New", Courier, monospace;
	font-weight:100;
	position:center;
	white-space:preline;
	color:#144587;
	font-size:150%;
	text-shadow:2px 2px 1px 1px black, 1px 1px 7px 4px white;
}
.heading{
	font-variant:small-caps;
	font-weight:bold;
	font-size:200%;
	text-align:center;
	text-decoration:overline underline;
	text-shadow:2px 2px 1px 1px black, 1px 1px 7px 4px white;
}
.centered{
	padding-left:25%;
	position:center;
}
.portrait{
	width:25%;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	border-style:solid;
	border-width:10px;
	border-color:#144587;
}
/*Lines*/
hr.blue{
	border-style:solid;
	border-color:#144587;
	border-width:2.5px;
	clear:both;
}
/*Lists*/
ul.square{
	list-style:square outside none;
	position:center;
	padding-left:25%;
}
ul.none{
	list-style: none outside none;
	position:center;
	padding-left:25%;
}
/*Links*/
a:visited{
	color:#aaaaaa;
}
a:link{
	color:white;
	font-variant:small-caps;
	font-weight:200;
	font-size:150%;
	text-shadow:2px 2px 1px 1px black, 1px 1px 7px 7px #white;
}
a:hover{
	text-shadow:1px 3px 1px 1px black, 1px 1px 7px 3px white;
}
.linkImg:hover{
	box-shadow:1px 3px 1px 1px black, 1px 1px 7px 5px white;
	border-radius:25px;
}