/*Fonts*/
@font-face{
	font-family: SHERWOOD;
	src: url('SHERWOOD.TTF');
}
@font-face{
	font-family: quadrangle;
	src: url('quadrangle.ttf');
}
/*Defaults and Background*/
.main{
	background: linear-gradient(150deg, #000000 25%, #0f0f0f 50%);
	border-style:none;
}
.sidebar-left{
	border-style: none;
	background-image: url('https://njaltheknut.github.io/NJR/Web/Portrait.png');
	background-position: top left;
	background-size: contain;
	float:right;
}
.text{
	font-family:"quadrangle";
	font-weight:50;
	padding-left:25%;
	position:center;
	color:#144587;
	font-size:100%;
	text-shadow:2px 2px 1px 1px black, 1px 1px 7px 4px white;
}
.heading{
	font-variant:small-caps;
	font-weight:200;
	font-size:150%;
	text-align:center;
	text-decoration:overline underline;
	text-shadow:2px 2px 1px 1px black, 1px 1px 7px 4px white;
}
/*Colors*/
p.gold{
	color:gold;
	padding-left:25%;
	position:center;
	text-shadow:2px 2px 1px 1px black, 1px 1px 7px 7px #144587;
}
p.allianceBlue{
	color:#144587;
	padding-left:25%;
	position:center;
	text-align:justify;
	white-space:preline;
	text-shadow:2px 2px 1px 1px black, 1px 1px 7px 4px white;
}
hr.gold{
	padding-left:25%;
	border-style:solid;
	border-color:gold;
}
hr.allianceBlue{
	border-style:solid;
	border-color:#144587;
}
hr.white{
	padding-left:25%;
	border-style:solid;
	border-color:white;
}
ul.centered{
	list-style:square outside none;
	padding-left:35%;
	color:#144587;
}
/*Links*/
a:visited{
	color:white;
}
a:link{
	color:white;
	font-variant:small-caps;
	font-weight:200;
	font-size:150%;
	text-shadow:2px 2px 1px 1px black, 1px 1px 7px 7px #white;
}
a:hover{
	text-shadow:1px 3px 1px 1px black, 1px 1px 7px 3px white;
}
.linkImg:hover{
	box-shadow:1px 3px 1px 1px black, 1px 1px 7px 5px white;
	border-radius:25px;
}